.HomeContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    nav {
        height: 10%;
        width: 90%;
        /* border: 1px solid var(--button); */
        display: flex;
        align-items: end;
        justify-content: space-between;

        h1 {
            color: var(--button);
            font-family: 'Primor';
            letter-spacing: 2px;
            font-weight: 900;
            font-size: clamp(15px, 10vh, 40px);
        }

        ul {
            width: 35%;
            border: 1px solid var(--button);
            padding: 15px 20px;
            display: flex;
            justify-content: space-between;
            background: var(--hover);

            a {
                color: var(--button);
                padding: 0;
                background-color: transparent;
            }
        }

        a {
            text-decoration: none;
            font-family: 'Montserrat';
            color: var(--bg);
            background-color: var(--button);
            padding: 15px 20px;
            border-radius: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;

            i {
                font-size: 20px;
            }
        }
    }

    .Home {
        height: 90%;
        width: 90%;
        /* border: 1px solid; */
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            " context image"
            " download image ";

        .HomeContext {
            grid-area: context;
            /* border: 1px solid var(--button); */
            display: flex;
            flex-direction: column;
            justify-content: end;

            p:nth-child(1) {
                font-family: 'Primor';
                font-size: clamp(20px, 60px, 130px);
                color: var(--button);
                margin-bottom: 6%;
            }

            p:nth-child(2) {
                font-family: 'Clash';
                font-size: clamp(10px, 20px, 60px);
                color: var(--button);
                margin-bottom: 4%;
                width: 80%;
                /* border: 1px solid ; */
            }

            ul {
                width: 100%;
                height: 25%;
                /* border: 1px solid; */
                display: flex;
                justify-content: flex-start;
                align-items: center;

                a {
                    text-decoration: none;
                }

                a:nth-child(1) {
                    color: var(--button);
                    background-color: var(--bg);
                    font-family: 'Clash';
                    /* margin-left: 6%; */
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid var(--button);
                    gap: 10px;
                    border-radius: 100px;
                    padding: 10px 20px;
                    font-size: clamp(20px, 25px, 60px);
                    position: relative;
                    box-shadow: 0px 5px 1px var(--button);
                }

                a:nth-child(1):hover {
                    scale: 1.2;
                    transition: scale 0.3s;
                }

                a:nth-child(1):hover i {
                    transition: transform 0.3s;
                    transform: rotate(45Deg);
                }
            }
        }

        .HomeImage {
            border: 1px solid;
            grid-area: image;
            /* position: relative; */
            display: flex;
            place-content: center;
            align-items: center;

            p {
                height: 400px;
                position: absolute;
                width: 800px;
                background: var(--bg);
                border: 2px solid var(--button);
                border-radius: 60px;
                box-shadow: 5px 5px 1px 2px var(--button);
            }

            /* p:nth-child(1) {
                top: 50px;
                left: 10px;
            }

            p:nth-child(2) {
                bottom: 0;
                background: var(--hover);
                left: 350px;
            }

            p:nth-child(3) {
                top: 60px;
                left: 650px;
            } */

        }

        .HomeDownload {
            grid-area: download;
            position: relative;
            height: 90%;
            width: 77%;
            /* background: var(--hover); */
            overflow: hidden;
            font-size: clamp(14px, 2vw, 22px);

            p {
                font-family: 'Clash';
                color: var(--button);
                border: 1px solid var(--button);
                width: fit-content;
                padding: 10px 20px;
                font-size: clamp(20px, 20px, 50px);
                position: absolute;
                border-radius: 50px;
            }

            p:nth-child(1) {
                bottom: 90px;
                left: 335px;
                transform: rotate(-12deg);
                z-index: 6;
            }

            p:nth-child(2) {
                top: 180px;
                left: 100px;
                transform: rotate(5deg);
                z-index: 5;
            }

            p:nth-child(3) {
                bottom: 120px;
                right: 0px;
                transform: rotate(-20deg);
                z-index: 7;
            }

            p:nth-child(4) {
                bottom: 165px;
                right: 140px;
                transform: rotate(50deg);
                z-index: 4;
            }

            p:nth-child(5) {
                bottom: 30px;
                right: 0px;
                transform: rotate(18deg);
                z-index: 3;
            }

            p:nth-child(6) {
                bottom: 130px;
                left: -5px;
                transform: rotate(30deg);
            }

            p:nth-child(7) {
                bottom: 95px;
                left: 200px;
                transform: rotate(-30deg);
            }

            p:nth-child(8) {
                bottom: 0px;
                left: 387px;
                /* transform: rotate(6deg); */
            }

            p:nth-child(9) {
                bottom: 10px;
                ;
                left: 0px;
                transform: rotate(-10deg);
            }

            p:nth-child(10) {
                bottom: 0px;
                left: 220px;
                /* transform: rotate(14deg); */
            }
        }
    }
}