.HomeCenter {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}

.nav {
    height: 10vh;
    width: 90%;
    /* border: 1px solid var(--button); */
    display: flex;
    align-items: end;
    justify-content: space-between;
    position: sticky;
    z-index: 10;
    /* margin-left: 5%; */
    top: 0;
    backdrop-filter: blur(10px);

    h1 {
        color: var(--button);
        font-family: 'Primor';
        letter-spacing: 2px;
        font-weight: 900;
        font-size: clamp(15px, 10vh, 40px);
    }

    ul {
        width: 35%;
        border: 1px solid var(--button);
        padding: 15px 20px;
        display: flex;
        justify-content: space-between;
        background: var(--hover);

        a {
            color: var(--button);
            padding: 0;
            background-color: transparent;
        }
    }

    a {
        text-decoration: none;
        font-family: 'Montserrat';
        color: var(--bg);
        background-color: var(--button);
        padding: 15px 20px;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        i {
            font-size: 20px;
        }
    }
}

.HomeContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid; */

    .Home {
        height: 60%;
        width: 90%;
        /* border: 1px solid; */
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            " context image";

        .HomeContext {
            grid-area: context;
            /* border: 1px solid var(--button); */
            display: flex;
            flex-direction: column;
            justify-content: center;

            p:nth-child(1) {
                font-family: 'Primor';
                font-size: clamp(20px, 60px, 130px);
                color: var(--button);
                margin-bottom: 6%;
            }

            p:nth-child(2) {
                font-family: 'Clash';
                font-size: clamp(10px, 20px, 60px);
                /* color: var(--button); */
                margin-bottom: 4%;
                width: 80%;
                /* border: 1px solid ; */
            }

            ul {
                width: 100%;
                height: 25%;
                /* border: 1px solid; */
                display: flex;
                justify-content: flex-start;
                align-items: center;

                a {
                    text-decoration: none;
                }

                a:nth-child(1) {
                    color: var(--button);
                    background-color: var(--bg);
                    font-family: 'Clash';
                    /* margin-left: 6%; */
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid var(--button);
                    gap: 10px;
                    border-radius: 100px;
                    padding: 10px 20px;
                    font-size: clamp(20px, 25px, 60px);
                    position: relative;
                    box-shadow: 0px 5px 1px var(--button);
                }

                a:nth-child(1):hover {
                    scale: 1.2;
                    transition: scale 0.3s;
                }

                a:nth-child(1):hover i {
                    transition: transform 0.3s;
                    transform: rotate(45Deg);
                }
            }
        }

        .HomeImage {
            /* border: 1px solid; */
            grid-area: image;
            /* position: relative; */
            display: flex;
            place-content: center;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .HomeCaro {
                height: 100%;
                /* position: absolute; */
                width: 800px;
                /* border: 1px solid; */
                display: flex;
                align-items: center;

                .Card {
                    height: 65%;
                    width: 100%;
                    align-items: center;
                    display: flex;
                    background: var(--bg);
                    border: 2px solid var(--button);
                    /* border-radius: 60px; */
                    box-shadow: 7px 7px 1px 2px var(--button);
                }

                img {
                    height: 80%;
                    /* border: 1px solid black; */
                    width: 400px;
                }

                ul {
                    /* border: 1px solid; */
                    width: 400px;
                    height: 80%;

                    p:nth-child(1) {
                        font-family: 'Primor';
                        color: var(--button);
                        margin-top: 15%;
                        font-weight: 800;
                        font-size: clamp(20px, 30px, 10vh);
                    }

                    p:nth-child(2) {
                        font-family: 'Clash';
                        margin-top: 5%;
                        height: 35%;
                        width: 100%;
                        /* border: 1px solid; */
                    }

                    span {
                        width: 100%;
                        /* border: 1px solid; */
                        margin-top: 1%;
                        display: flex;
                        justify-content: end;

                        button {
                            border: 1px solid var(--button);
                            background: transparent;
                            color: var(--button);
                            font-family: 'Clash';
                            margin-right: 70px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 10px;
                            border-radius: 100px;
                            font-size: clamp(20px, 10vh, 20px);
                            padding: 7px 20px;

                            i {
                                transform: rotate(45Deg);
                            }
                        }
                    }

                }
            }

        }

    }
}

.HomeDownload {
    display: flex;
    height: 15%;
    /* border: 1px solid; */
    width: 90%;
    /* background: var(--hover); */
    margin-top: 20px;
    overflow: hidden;
    gap: 80px;
    font-size: clamp(14px, 2vw, 22px);
    -webkit-mask-image: linear-gradient(to right,
            transparent 0%,
            black 5%,
            black 95%,
            transparent 100%);
    mask-image: linear-gradient(to left,
            transparent 0%,
            black 5%,
            black 95%,
            transparent 100%);
}

.Carosel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    will-change: transform;
    animation: infiniteScroll 30s linear infinite;
}

.HomeDownload:hover .Carosel {
    animation-play-state: paused;
}

.Carosel p {
    font-family: 'Clash';
    color: var(--button);
    border: 1px solid var(--button);
    width: 200px;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(20px, 20px, 50px);
    white-space: nowrap;
}

@keyframes infiniteScroll {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

.AboutContainer {
    /* border: 2px solid var(--button); */
    height: 100vh;
    width: 90%;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
    /* gap: 100px; */
    /* border: 1px solid; */

    .AboutApplication {
        font-family: 'Primor';
        font-size: clamp(20px, 10vh, 60px);
        color: var(--button);
        /* width: 90%; */
        /* text-align: left; */
        /* margin-top: 15%; */
    }

    .AboutContext {
        list-style: none;
        width: 100%;
        padding: 30px 0px;
        /* border: 1px solid; */
        display: flex;
        justify-content: center;
        /* align-items: center; */
        flex-direction: column;
        gap: 30px;

        li {
            font-size: clamp(15px, 10vh, 18px);
            font-family: 'Clash';
            text-align: justify;
        }
    }

    .DownloadButtonContainer {
        width: 100%;
        height: 10%;
        /* border: 1px solid; */
        display: flex;
        gap: 50px;
        align-items: center;

        button {
            font-family: 'Clash';
            padding: 15px 30px;
            display: flex;
            height: 50%;
            justify-content: center;
            align-items: center;
            gap: 10px;
            font-size: clamp(15px, 10vh, 18px);
        }

        button:nth-child(1) {
            background: var(--button);
            color: var(--bg);
            border: 1px solid var(--button);
        }

        button:nth-child(2) {
            color: var(--button);
            background-color: var(--bg);
            border: 1px solid var(--button);
        }
    }

}