@font-face {
    font-family: "Montserrat";
    src: url('../../assests/fonts/montserrat.otf');
}

@font-face {
    font-family: "Razor";
    src: url('../../assests/fonts/Razor.otf');
}

@font-face {
    font-family: "Primor";
    src: url('../../assests/fonts/PrimorStylish.otf');
}

@font-face {
    font-family: "Clash";
    src: url('../../assests/fonts/ClashDisplay.ttf');
}

@font-face {
    font-family: "Tropic";
    src: url('../../assests/fonts/Tropical.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --bg: #FCF5EE;
    --text: #850E35;
    --button: #48914e;
    --hover: #386d3d13;
}


body {
    height: auto;
    width: 100vw;
    background: var(--bg);
}