.HomeContainer {
    height: 100vh;
    width: 100vw;

    nav {
        height: 10%;
        width: 100%;
        /* border: 1px solid var(--button); */
        display: flex;
        align-items: end;
        justify-content: center;
        gap: 20%;

        h1 {
            color: var(--button);
            font-family: 'Primor';
            letter-spacing: 2px;
            font-weight: 900;
            font-size: clamp(15px, 10vh, 40px);
        }

        ul {
            width: 35%;
            border: 1px solid var(--button);
            padding: 15px 20px;
            display: flex;
            justify-content: space-between;
            background: var(--hover);

            a {
                color: var(--button);
                padding: 0;
                background-color: transparent;
            }
        }

        a {
            text-decoration: none;
            font-family: 'Montserrat';
            color: var(--bg);
            background-color: var(--button);
            padding: 15px 20px;
            border-radius: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;

            i {
                font-size: 20px;
            }
        }
    }

    .Home{
        height: 90%;
        width: 100%;
        /* border: 1px solid; */
    }

}