.HomeCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav {
    height: 10vh;
    width: 90%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: sticky;
    z-index: 10;
    top: 0;
    backdrop-filter: blur(10px);
}

.nav h1 {
    color: var(--button);
    font-family: 'Primor', sans-serif;
    letter-spacing: 2px;
    font-weight: 900;
    font-size: clamp(15px, 10vh, 40px);
}

.nav ul {
    width: 35%;
    border: 1px solid var(--button);
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    background: var(--hover);
    list-style: none;
}

.nav ul a {
    color: var(--button);
    padding: 0;
    background-color: transparent;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.nav a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: var(--bg);
    background-color: var(--button);
    padding: 15px 20px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.nav a i {
    font-size: 20px;
}

.HomeContainer {
    height: fit-content;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.HomeContainer .Home {
    height: 75vh;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "context image";
    /* border: 1px solid; */
}

.HomeContainer .Home .HomeContext {
    grid-area: context;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.HomeContainer .Home .HomeContext p:nth-child(1) {
    font-family: 'Primor', sans-serif;
    font-size: clamp(20px, 60px, 130px);
    color: var(--button);
    margin-bottom: 6%;
}

.HomeContainer .Home .HomeContext p:nth-child(2) {
    font-family: 'Clash', sans-serif;
    font-size: clamp(10px, 20px, 60px);
    height: fit-content;
    margin-bottom: 4%;
    width: 90%;
}

.HomeContainer .Home .HomeContext ul {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
}

.HomeContainer .Home .HomeContext ul a {
    text-decoration: none;
}

.HomeContainer .Home .HomeContext ul a {
    color: var(--button);
    background-color: var(--bg);
    font-family: 'Clash', sans-serif;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--button);
    gap: 10px;
    border-radius: 100px;
    padding: 10px 20px;
    font-size: clamp(20px, 25px, 60px);
    position: relative;
    box-shadow: 0px 5px 1px var(--button);
}

.HomeContainer .Home .HomeContext ul a:hover {
    scale: 1.1;
    transition: all 0.3s;
    color: var(--bg);
    background-color: var(--button);

}

.HomeContainer .Home .HomeContext ul a:nth-child(1):hover i {
    transition: transform 0.3s;
    transform: rotate(-45deg);
}

.HomeContainer .Home .HomeImage {
    grid-area: image;
    display: flex;
    height: fit-content;
    place-content: center;
    /* border: 1px solid; */
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.HomeContainer .Home .HomeImage .HomeCaro {
    height: 75vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: end;
}

.HomeContainer .Home .HomeImage .HomeCaro .Card {
    height: 50%;
    width: 80%;
    align-items: center;
    display: flex;
    background: var(--bg);
    border: 2px solid var(--button);
    box-shadow: 7px 7px 1px 2px var(--button);
}

.HomeContainer .Home .HomeImage .HomeCaro img {
    height: 80%;
    width: 400px;
    object-fit: contain;
}

.HomeContainer .Home .HomeImage .HomeCaro ul {
    width: 400px;
    height: 80%;
    list-style: none;
}

.HomeContainer .Home .HomeImage .HomeCaro ul p:nth-child(1) {
    font-family: 'Primor', sans-serif;
    color: var(--button);
    margin-top: 15%;
    font-weight: 800;
    font-size: clamp(20px, 30px, 10vh);
}

.HomeContainer .Home .HomeImage .HomeCaro ul p:nth-child(2) {
    font-family: 'Clash', sans-serif;
    margin-top: 5%;
    height: 35%;
    width: 100%;
}

.HomeContainer .Home .HomeImage .HomeCaro ul span {
    width: 100%;
    margin-top: 1%;
    display: flex;
    justify-content: flex-end;
}

.HomeContainer .Home .HomeImage .HomeCaro ul span button {
    border: 1px solid var(--button);
    background: transparent;
    color: var(--button);
    font-family: 'Clash', sans-serif;
    margin-right: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 100px;
    font-size: clamp(20px, 10vh, 20px);
    padding: 7px 20px;
    cursor: pointer;
}

.HomeContainer .Home .HomeImage .HomeCaro ul span button i {
    transform: rotate(0Deg);
}

.HomeDownload {
    display: flex;
    height: 15%;
    width: 90%;
    margin-top: 20px;
    overflow: hidden;
    gap: 80px;
    font-size: clamp(14px, 2vw, 22px);
    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 5%, black 95%, transparent 100%);
    mask-image: linear-gradient(to left, transparent 0%, black 5%, black 95%, transparent 100%);
}

.Carosel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    will-change: transform;
    animation: infiniteScroll 30s linear infinite;
}

.HomeDownload:hover .Carosel {
    animation-play-state: paused;
}

.Carosel p {
    font-family: 'Clash', sans-serif;
    color: var(--button);
    border: 1px solid var(--button);
    width: 200px;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(20px, 20px, 50px);
    white-space: nowrap;
}

@keyframes infiniteScroll {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

.AboutContainer {
    height: fit-content;
    width: 90%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid; */
}

.AboutContainer .AboutApplication {
    font-family: 'Primor', sans-serif;
    font-size: clamp(20px, 10vh, 60px);
    color: var(--button);
    margin-top: 10vh;
}

.AboutContainer .AboutContext {
    list-style: none;
    width: 100%;
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.AboutContainer .AboutContext li {
    font-size: clamp(15px, 10vh, 18px);
    font-family: 'Clash', sans-serif;
    text-align: justify;
}

.AboutContainer .DownloadButtonContainer {
    width: 100%;
    height: 10%;
    display: flex;
    gap: 50px;
    align-items: center;
}

.AboutContainer .DownloadButtonContainer button {
    font-family: 'Clash', sans-serif;
    padding: 10px 30px;
    display: flex;
    height: 50%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: clamp(15px, 10vh, 18px);
    cursor: pointer;
}

.AboutContainer .DownloadButtonContainer button:nth-child(1) {
    background: var(--button);
    color: var(--bg);
    border: 1px solid var(--button);
}

.AboutContainer .DownloadButtonContainer button:nth-child(2) {
    color: var(--button);
    background-color: var(--bg);
    border: 1px solid var(--button);
}

.FeatureContainer {
    height: fit-content;
    width: 90%;
    /* border: 1px solid */
    /* padding: 50px 0; */
}

.FeatureContainer .FeatureText {
    font-family: 'Primor', sans-serif;
    margin-top: 10vh;
    font-size: clamp(20px, 10vh, 60px);
    color: var(--button);
}

.FeatureContainer .FeatureCardContainer {
    height: 100%;
    padding: 50px 0px;
    width: 100%;
    margin-top: 7vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 50px;
    grid-template-areas: "c1 c2 c3" "c4 c2 c5" "c6 c7 c8" "c6 c9 c9";
}

.FeatureContainer .FeatureCardContainer .FeatureCard:nth-child(1) {
    grid-area: c1;
}

.FeatureContainer .FeatureCardContainer .FeatureCard:nth-child(2) {
    grid-area: c2;
}

.FeatureContainer .FeatureCardContainer .FeatureCard:nth-child(3) {
    grid-area: c3;
}

.FeatureContainer .FeatureCardContainer .FeatureCard:nth-child(4) {
    grid-area: c4;
}

.FeatureContainer .FeatureCardContainer .FeatureCard:nth-child(5) {
    grid-area: c5;
}

.FeatureContainer .FeatureCardContainer .FeatureCard:nth-child(6) {
    grid-area: c6;
}

.FeatureContainer .FeatureCardContainer .FeatureCard:nth-child(7) {
    grid-area: c7;
}

.FeatureContainer .FeatureCardContainer .FeatureCard:nth-child(8) {
    grid-area: c8;
}

.FeatureContainer .FeatureCardContainer .FeatureCard:nth-child(9) {
    grid-area: c9;
}

.FeatureContainer .FeatureCardContainer .FeatureCard {
    border: 2px solid var(--button);
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    z-index: 1;
}

.FeatureContainer .FeatureCardContainer .FeatureCard::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    background: var(--button);
    top: 0;
    left: -100%;
    z-index: 1;
    /* opacity: 0; */
    transition: all 1s;    
}

.FeatureContainer .FeatureCardContainer .FeatureCard:hover::after {
    /* opacity: 1; */
    left: 0;
}

.FeatureContainer .FeatureCardContainer .FeatureCard:hover ,.FeatureContainer .FeatureCardContainer .FeatureCard:hover p:nth-child(1) {
    color: var(--bg);
    z-index: 2;
}

.FeatureContainer .FeatureCardContainer .FeatureCard p:nth-child(1) {
    color: var(--button);
    font-size: clamp(20px, 10vh, 30px);
    font-family: 'Primor', sans-serif;
}

.FeatureContainer .FeatureCardContainer .FeatureCard p:nth-child(2) {
    font-family: 'Clash', sans-serif;
    z-index: 2;
}

.HIWContainer {
    height: fit-content;
    width: 90%;
    padding: 20px 0;
}

.HIWContainer p:nth-child(1) {
    color: var(--button);
    font-size: clamp(20px, 10vh, 60px);
    font-family: 'Primor', sans-serif;
}

.HIWContainer .HIWCardContainer {
    margin-top: 5vh;
    height: fit-content;
    width: 100%;
    position: relative;
}

.HIWContainer .HIWCardContainer .HIWCard {
    position: sticky;
    top: 15%;
    background-color: var(--bg);
}

.HIWContainer .HIWCardContainer .HIWCard:nth-child(odd) {
    height: 80vh;
    display: grid;
    margin-top: 10vh;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: "h1 i1" "h2 i1";
}

.HIWContainer .HIWCardContainer .HIWCard:nth-child(odd) p:nth-child(1) {
    font-size: clamp(20px, 10vh, 50px);
    font-family: 'Tropic', serif;
    grid-area: h1;
}

.HIWContainer .HIWCardContainer .HIWCard:nth-child(odd) p:nth-child(2) {
    font-size: clamp(20px, 10vh, 20px);
    font-family: 'Clash', sans-serif;
    grid-area: h2;
    color: black;
}

.HIWContainer .HIWCardContainer .HIWCard:nth-child(odd) .HIWImage {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: i1;
}

.HIWContainer .HIWCardContainer .HIWCard:nth-child(odd) .HIWImage .HIWImg {
    height: 95%;
    box-shadow: 0px 0px 15px 1px var(--button);
    width: 75%;
}

.HIWContainer .HIWCardContainer .HIWCard:nth-child(even) {
    height: 80vh;
    margin-top: 10vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: "i1 h1" "i1 h2";
}

.HIWContainer .HIWCardContainer .HIWCard:nth-child(even) p:nth-child(1) {
    font-size: clamp(20px, 10vh, 50px);
    font-family: 'Tropic', serif;
    grid-area: h1;
}

.HIWContainer .HIWCardContainer .HIWCard:nth-child(even) p:nth-child(2) {
    font-size: clamp(20px, 10vh, 20px);
    font-family: 'Clash', sans-serif;
    grid-area: h2;
    color: black;
}

.HIWContainer .HIWCardContainer .HIWCard:nth-child(even) .HIWImage {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: i1;
}

.HIWContainer .HIWCardContainer .HIWCard:nth-child(even) .HIWImage .HIWImg {
    height: 95%;
    box-shadow: 0px 0px 15px 1px var(--button);
    width: 75%;
}

@media (max-width:768px) {
    .nav {
        ul {
            display: none;
        }

        h1 {
            font-size: clamp(15px, 10vh, 25px);
        }

        a {
            padding: 5px 10px;
            font-size: clamp(15px, 1vw, 18px);

            i {
                font-size: clamp(15px, 1vw, 18px);
            }
        }
    }

    .HomeContainer {
        .Home {
            grid-template-columns: 1fr;
            gap: 0px;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: " context"
                "image";

            .HomeContext {
                /* border: 1px solid; */


                p:nth-child(1) {
                    margin-top: 5vh;
                    font-size: clamp(20px, 60px, 28px);
                }

                p:nth-child(2) {
                    font-size: clamp(10px, 10vw, 15px);
                }

                ul {
                    a {
                        padding: 5px 10px;
                        font-size: 16px;
                    }
                }
            }

            .HomeImage {
                /* border: 1px solid; */
                height: 40vh;

                .HomeCaro {
                    height: 75%;

                    .Card {
                        width: 100%;
                        height: 100%;
                    }

                    img {
                        display: none;
                    }

                    ul {
                        p:nth-child(1) {
                            margin-top: 0;
                            font-size: 25px;
                            /* margin-left: 5%; */
                        }

                        p:nth-child(2) {
                            margin-top: 0;
                            font-size: 18px;
                            margin-top: 5%;
                        }

                        span {
                            button {
                                margin-right: 10px;
                                font-size: clamp(12px, 10vw, 15px);
                                padding: 7px 20px;
                            }
                        }
                    }
                }
            }
        }
    }

    .Carosel {
        gap: 25px;
    }

    .Carosel p {
        font-size: clamp(12px, 10vw, 15px);
        width: 120px;
    }
}