.HomeContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    nav {
        height: 10%;
        width: 90%;
        /* border: 1px solid var(--button); */
        display: flex;
        align-items: end;
        justify-content: space-between;

        h1 {
            color: var(--button);
            font-family: 'Primor';
            letter-spacing: 2px;
            font-weight: 900;
            font-size: clamp(15px, 10vh, 40px);
        }

        ul {
            width: 35%;
            border: 1px solid var(--button);
            padding: 15px 20px;
            display: flex;
            justify-content: space-between;
            background: var(--hover);

            a {
                color: var(--button);
                padding: 0;
                background-color: transparent;
            }
        }

        a {
            text-decoration: none;
            font-family: 'Montserrat';
            color: var(--bg);
            background-color: var(--button);
            padding: 15px 20px;
            border-radius: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;

            i {
                font-size: 20px;
            }
        }
    }

    .Home {
        height: 90%;
        width: 90%;
        /* border: 1px solid; */
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            " context image"
            " download image ";

        .HomeContext {
            grid-area: context;
            /* border: 1px solid var(--button); */
            display: flex;
            flex-direction: column;
            justify-content: end;

            p:nth-child(1) {
                font-family: 'Primor';
                font-size: clamp(20px, 60px, 130px);
                color: var(--button);
                margin-bottom: 6%;
            }

            p:nth-child(2) {
                font-family: 'Montserrat';
                font-size: clamp(10px, 20px, 60px);
                color: var(--button);
                margin-bottom: 4%;
                width: 80%;
                /* border: 1px solid ; */
            }

            ul {
                width: 100%;
                height: 25%;
                /* border: 1px solid; */
                display: flex;
                justify-content: flex-start;
                align-items: center;

                a {
                    text-decoration: none;
                }

                a:nth-child(1) {
                    color: var(--button);
                    background-color: var(--bg);
                    font-family: 'Montserrat';
                    /* margin-left: 6%; */
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid var(--button);
                    gap: 10px;
                    border-radius: 100px;
                    padding: 10px 20px;
                    font-size: clamp(20px, 25px, 60px);
                    position: relative;
                    box-shadow: 0px 5px 1px var(--button);
                }

                a:nth-child(1):hover {
                    scale: 1.2;
                    transition: scale 0.3s;
                }

                a:nth-child(1):hover i {
                    transition: transform 0.3s;
                    transform: rotate(45Deg);
                }
            }
        }

        .HomeImage {
            /* border: 1px solid; */
            grid-area: image;
        }

        .HomeDownload {
            grid-area: download;
        }
    }

}